.chart {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;

  .daily-expenses {
    width: 33px;
    height: 217px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;

    &.higher .column {
      background-color: var(--cyan);
    }
  }

  .amount {
    width: 42px;
    height: 32px;
    color: var(--very-pale-orange);
    background-color: var(--dark-brown);
    font-weight: 700;
    font-size: 10px;
    line-height: 23px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    display: none;
  }

  .column:hover~.amount {
    display: grid;
  }

  .day:hover~.amount {
    display: grid;
  }

  .column {
    margin-top: 8px;
    background-color: var(--soft-red);
    width: 33px;
    border-radius: 3px;
  }

  .day {
    margin-top: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--medium-brown);
  }
}