@use '../../../styles/partials/mixins' as *;

.card-details {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include media(laptop) {
    margin-top: 32px;
  }

  .title {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--medium-brown);

    @include media(laptop) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .month-value {
    margin-top: 4px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: var(--dark-brown);

    @include media(laptop) {
      margin-top: 2px;
      font-size: 48px;
      line-height: 62px;
    }
  }

  .last-month-percentage {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: var(--dark-brown);

    @include media(laptop) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .last-month-label {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: var(--medium-brown);

    @include media(laptop) {
      font-size: 18px;
      line-height: 23px;
    }
  }
}